body {
	background-color: rgb(35, 35, 35);
	color: white;
}

.mainMenuCont {}


.mainMenuLogo {
	width: 50%;
	position: relative;
	left: 50%;
	top: 50%;
	transform: translate(-50%, 0%);
}

@media screen and (max-width: 768px) {}